{% extends '@SyliusAdmin/Form/theme.html.twig' %}

{% block _sylius_admin_order_creation_new_order_items_entry_widget %}
    {% spaceless %}
        <div class="two fields">
            {{ form_row(form.quantity, {'attr': {'class' : 'item-quantity'}}) }}
            {{ form_row(form.variant, {
                'remote_url': path('sylius_admin_order_creation_ajax_product_variants_by_phrase_and_channel', {'channelCode': form.parent.parent.vars.value.channel.code}),
                'remote_criteria_type': 'contains',
                'remote_criteria_name': 'phrase',
                'load_edit_url': path('sylius_admin_order_creation_ajax_product_variant_by_codes')
            }) }}
        </div>
    {% endspaceless %}
{% endblock %}
