{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.new_'~metadata.name) %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% form_theme form '@SyliusAdminOrderCreationPlugin/orderItemCollectionTheme.html.twig' %}

{% block content %}
    <div class="ui stackable two column grid">
        <div class="column">
            {% include configuration.vars.templates.header_title|default('@SyliusAdmin/Crud/Create/_headerTitle.html.twig') %}
            {% include configuration.vars.templates.breadcrumb|default('@SyliusAdmin/Crud/Create/_breadcrumb.html.twig') %}
        </div>
        <div class="middle aligned column">
            {% include configuration.vars.templates.toolbar|default('@SyliusAdmin/Crud/_toolbar.html.twig') ignore missing %}
        </div>
    </div>
    <div class="ui segment">
        {{ form_start(form), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
    </div>
    {% include '@SyliusAdminOrderCreationPlugin/Order/_form.html.twig' with {
        'action': path('sylius_admin_order_creation_order_preview', {'customerEmail': app.request.attributes.get('customerEmail')})
    } %}
{% endblock %}
