{% block subject %}
    New order has been created for you
{% endblock %}

{% block body %}
    New order has been created for you in Admin panel. Check it out in your orders' history. To pay for this order, click <a href="{{ paymentLink }}">this link</a>.
{% endblock %}
